*{
    margin: 0;
    font-family: arial, sans-serif;
}

/* 
MAIN 
*/

:root{
    --main-color: black;
    --secondary-color: white;
    --color1: #e96e50;
    --color2: grey;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--secondary-color) inset !important;
}

#content{
    min-height: 100vh;
    height: 100%;
    background-color: var(--main-color);
    background-image: url('images/clear-sky.jpg');
    background-size: cover;
    
}

/* 
SEARCH
 */


#search{
    display: grid;
    justify-content: center;
}

#searchBar{
border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

form{
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    margin: 5rem 0rem 1rem 0rem
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }

  #error{
    visibility:hidden;
      color: red;
  }

/* 
WEATHER DISPLAY 
*/

#weatherDisplay{
    display: grid;
    margin: 3rem auto;
    width: 50%;
    background-color: var(--secondary-color);
    grid-template-areas: "location location" 
                        "temperature weather" 
                        "temperature feelsLike"
                        "dailyHourly dailyHourly"
                        "hourlyView hourlyView";
    padding: 3rem 0rem;
    overflow:hidden; 
    word-wrap:break-word;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#location{
    grid-area: location;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

#temperature{
    grid-area: temperature;
    font-size: 8rem;
    justify-self: end;
    padding-right: 1rem;
    color: var(--color1);
}

#weather{
    grid-area: weather;
    align-self: end;
    padding-left: 1rem;
    display: flex;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}



#feelsLike{
    grid-area: feelsLike;
    align-self: start;
    padding-left: 1rem;
    padding-top: 0.3rem;

}



/*
DAILY VIEW
*/

#dailyView{
    grid-area: dailyHourly;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 3rem auto;
}


#dailyWeatherHeading{
    grid-area: 1/1/2/6;
    justify-self: center;
    padding: 2rem 0rem 4rem 0rem;
}
.dayView{
    display:grid;
    justify-self: center;
}

.temperatureDaily{
    grid-area: 1/1/2/3;
    font-size: 2rem;
    text-align: center;
    align-self:center;
}

.iconDaily{
    grid-area:2/1/2/2;
    width: 4rem;
    height: auto;
}

.weatherDaily{
    grid-area:2/2/2/3;
    align-self: center;
}

.dayOfTheWeek{
    grid-area:3/1/4/3;
    text-align: center;
}

/*
HOURLY VIEW
*/
#hourlyView{
    grid-area: hourlyView;
    background-color: #eff7fa;
    width: 90%;
    margin: auto;
    padding-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


#hourlyTable{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0rem 2rem;

}

#hourlyData{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area:3/1/4/4;
}

#hourlyWeatherHeading{
    text-align: center;
    padding-bottom: 2rem;
}

.center{
    justify-self: center;
}

.align-center{
    align-self: center;
}

.hourlyTimeData{
    grid-column-start: 1;
    grid-column-end: 2;
    color: var(--color2);
}

.hourlyTempData{
    grid-column-start: 2;
    grid-column-end: 3;
    color: var(--color1);
}

.hourlyWeatherData{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    color: var(--color1);
}

.color1{
    color: var(--color1);
}

.bold{
    font-size: 1.5rem;
    font-weight: 900;
}

